@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(202, 196, 196, 0.692);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

.btn {
  border: 2px solid cadetblue;
  border-radius: 3px;
  background-color: cadetblue;
  color: white;
  width: 4.5rem;
  height: 2rem;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.unactive {
  background-color: rgba(202, 196, 196, 0.692);
  border-color: rgba(202, 196, 196, 0.692);
}

.line {
  position: relative;
  width: 1rem;
  height: 3px;
  flex: 1;
  background-color: rgba(202, 196, 196, 0.692);
  transition: background-color 0.4s;
}

.line:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: 50;
  background-color: cadetblue;
  transition: width 0.2s;
}

.line.activeLine:after {
  width: 100%;
}

.active {
  border-color: cadetblue;
}
